@page "/about"

<div id="contentAbout" class="flex justify-center m-7 ">
    <div class="flex flex-col space-y-12 lg:w-2/4 lg:px-14 bg-gray-50 p-10 rounded-xl">
        <div id="titleAbout" class="flex justify-center">
            <p class="text-6xl xl:text-4xl font-bold text-emerald-900">About - Why - Who</p>
        </div>
        <div id="aboutLogo" class="flex justify-center">
            <div class="h-1/2 w-1/2 lg:h-1/4 lg:w-1/4">
                <img src="pics/hot-pot.png" alt="aboutLogo" />
            </div>
        </div>
        <div id="aboutText" class="text-4xl 2xl:text-2xl text-justify leading-relaxed">
            <div id="intro" class="">
                <p>
                    Welcome to TastyBit – a passion-driven webapp born from the realms of hobby and a quest to master the art of web development.<br />
                    As a non-web developer I have always wondered could I do it, so I embarked on the yourney to learn myself web development and this came out as a result.
                    As for the app itself, it is open-sourced and you can check-out the the code on my Github.
                </p>
            </div>
 
            <div id="idea" class="flex justify-center font-bold text-emerald-900 my-11 items-center">
                <hr class="my-14 w-1/2 relative content-center mx-3 border-emerald-900 h-1" />
                <p>Idea</p>
                <hr class="my-14 w-1/2 relative content-center mx-3 border-emerald-900 h-1" />
            </div>
            <div>
                <p>Just another <i>Hello World</i> recipes app yes, but this one was not made just to be made. It's made primarely for myself as a something I needed.<br />
                Cooking is a big part of our lives and often you can't' remember what  food you know how to cook. The same two,three meals come to mind and you often end up making the same thing.
                I wanted to log my cooking recipes so I can quickly search my known meals which I am comfortable making and I'l know exactly what I'l get.
                Searching different online cookbooks is often overwhelming, over complicated, requires motivation. You can still do that, the end goal of the app is to log only meals you know how to prepare.
                But, lots of different features are still to be implemented . . . this is just the beginning.
                </p>
            </div>
        </div>
    </div>
</div>

@code {

}
