@page "/about"

<div id="contentAbout" class="flex justify-center m-32">
    <div class="flex flex-col space-y-12 w-1/2 bg-gray-50 p-10 rounded-xl">
        <div id="titleAbout" class="flex justify-center">
            <p class="text-4xl font-bold text-emerald-900">Tasty Bits</p>
        </div>
        <div id="aboutLogo" class="flex justify-center">
            <img src="pics/hot-pot.png" alt="aboutLogo" width="100" height="150" />
        </div>
        <div id="aboutText" class="text-2xl text-justify leading-relaxed">
            <div id="intro" class="">
                <p>
                    Welcome to TastyBit – a passion-driven webapp born from the realms of hobby and a quest to master the art of web development.<br />
                    As a non-web developer I have always wondered could I do it, so I embarked on the yourney to learn myself web development and this came out as a result.
                    As for the app itself, it is open-sourced and you can check-out the the code on my Github.
                </p>
            </div>
 
            <div id="idea" class="flex justify-center font-bold text-emerald-900 my-11 items-center">
                <hr class="my-14 w-1/2 relative content-center mx-3 border-emerald-900 h-1" />
                <p>Idea</p>
                <hr class="my-14 w-1/2 relative content-center mx-3 border-emerald-900 h-1" />
            </div>
            <div>
                <p>Just another <i>Hello World</i> recipes app yes, but this one was not made just to be made. It's first purpose is to serve me.<br />
                Cooking is a big part of our lives, especially if you have kids. I got tired of <i>fast</i> cooking. Not fast-food but just preparing you meals to put something in yourself.<br />
                You know when you are hungry and just want to eat the fastest way is to cook pasta and spill some cooking cream all over it.
                </p>
            </div>
        </div>
    </div>
</div>

@code {

}
