<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body class="loginBody">
    <main>
        @RenderBody()
    </main>
    <script src="_framework/aspnetcore-browser-refresh.js"></script>
    <script src="css/font-awesome/js/all.min.js"></script>
    <script src="js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


