@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager;

<header class="flex justify-between items-center bg-emerald-600 p-5 text-gray-50 font-medium text-xl">
	<button @onclick="ToogleNav">
		<svg class="block h-10 w-10 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
			<title>Mobile menu</title>
			<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
		</svg>
	</button>
	<p>Hello @userEmail</p>
</header>

@code {
	private string userEmail { get; set; }
	private bool isOpen { get; set; } = true;

	[CascadingParameter]
	private Task<AuthenticationState> authState { get; set; }

	protected override async Task OnInitializedAsync()
	{
		ClaimsPrincipal user = (await authState).User;
		if (user.Identity.IsAuthenticated) {
			userEmail = (await UserManager.GetUserAsync(user)).Email;
		}

	}

	private void ToogleNav()
	{
		isOpen = !isOpen;
	}
}
