
@inherits LayoutComponentBase
@using TastyBits.Components
@inject IJSRuntime JSRuntime

@* <NavBar></NavBar> *@
<TastyNavBar></TastyNavBar>

<main class="mx-7 xl:mx-32">
    @Body 
</main>
<div>
    <TastyTryIt Class="mt-32 lg:mt-0"></TastyTryIt>
    <TastyFooter></TastyFooter>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
       //await JSRuntime.InvokeVoidAsync("scrollToTop"); //TODO upali kad zavrsis sa svime
    }
}
