@tailwind base;
@tailwind components;
@tailwind utilities;


.primaryButton {
    @apply bg-emerald-600 hover:bg-emerald-500 duration-1000;
    @apply p-3 text-gray-50 rounded-lg;
}
.input-form {
    @apply flex flex-col
}
.input-form > input {
    @apply border-2 border-emerald-500;
}
.transBase {
    /*transition:transform 1s;*/
}

.slideInAnimation {
    animation: enter 0.5s forwards;
}

.slideOutAnimation {
    visibility: hidden;
    animation: exit 0.3s backwards;
}

@keyframes enter {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes exit {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
