@tailwind base;
@tailwind components;
@tailwind utilities;



.dangerText {
    @apply text-red-400 mt-3;
}
.myGradient {
    @apply bg-gradient-to-r from-emerald-400 to-emerald-700;
}
.secondaryButton {
    @apply bg-emerald-500 p-2 rounded-lg text-gray-50;
}
.primaryOutline {
    @apply border-solid border-2 border-emerald-600 bg-transparent p-2 rounded-lg text-emerald-800 hover:bg-emerald-400 duration-1000 hover:text-white;
}
.loginWindows {
    @apply w-96;
}
.customSize {
    @apply text-sm mt-4;
}
.primaryButton {
    @apply bg-emerald-600 hover:bg-emerald-500 duration-1000;
    @apply p-3 text-gray-50 rounded-lg;
}
.input-form {
    @apply flex flex-col lg:mt-2 xl:mt-5 2xl:mt-5;
}
.input-form > label {
    @apply font-medium;
}
.input-form > input {
    @apply p-2 border-2 rounded-lg border-emerald-400 focus:outline-none focus:border-emerald-400 focus:shadow-md focus:shadow-emerald-300
}
.transBase {
    /*transition:transform 1s;*/
}

.slideInAnimation {
    animation: enter 0.5s forwards;
}

.slideOutAnimation {
    visibility: hidden;
    animation: exit 0.3s backwards;
}

@keyframes enter {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes exit {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
