.transBase {
    /*transition:transform 1s;*/
}
.slideInAnimation{
    animation:enter 0.5s forwards;
}

.slideOutAnimation {
    visibility:hidden;
    animation:exit 0.3s backwards;
}

@keyframes enter {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes exit {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}