@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Identity;
@using TastyBits.Pages.UserDashboard.Components
@inject UserManager<IdentityUser> UserManager;

<MudThemeProvider Theme="MyCustomTheme"/>
<MudDialogProvider CloseButton="true" />
<MudSnackbarProvider />

<div class="flex min-h-screen">
    <MudLayout>
        <MudAppBar >
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
            <MudSpacer></MudSpacer>
            <MudText>@userEmail</MudText>
        </MudAppBar>
        <MudDrawer Open="open" Width="20rem">
            <DashboardNav Class="col-start-1 w-50"></DashboardNav>
        </MudDrawer>
        <MudMainContent>
            <main id="rightDashboardLayout" class="col-start-2 grow">
                <div class="p-5">
                    @Body
                </div>
            </main>
        </MudMainContent>
    </MudLayout>
</div>

@code {
    MudTheme MyCustomTheme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = "#047857",
                Secondary = "#6ee7b7",
                AppbarBackground = "#10b981",
            }
        };

    bool open = true;

    void ToggleDrawer()
    {
        open = !open;
    }

    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; }
    private string userEmail { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ClaimsPrincipal user = (await authState).User;
        if (user.Identity.IsAuthenticated) {
            userEmail = (await UserManager.GetUserAsync(user)).Email;
        }

    }
}
