@inherits LayoutComponentBase
@using TastyBits.Pages.UserDashboard.Components

<div class="flex min-h-screen">
    <DashboardNav Class="col-start-1 w-50"></DashboardNav>
    <main id="rightDashboardLayout" class="col-start-2 grow">
        <HeaderBar></HeaderBar>
        <div class="p-5">
            @Body
        </div>
    </main>
</div>

@code {

}
