@page "/dashboard/allrecipes";
@page "/dashboard/home";

@layout DashboardLayout;
@using System.Collections.ObjectModel;
@using Microsoft.EntityFrameworkCore;
@using TastyBits.Data;
@using TastyBits.Model;
@using TastyBits.Pages.UserDashboard.Components;
@using TastyBits.Services;
@inject MealService _mealService;

<AuthorizeView>
    <Authorized>
        <RecipeToolBar></RecipeToolBar>
        <div id="recipes" class="flex flex-wrap mt-5 gap-10 p-2">
            @foreach (UserMeal re in _allRecipes) {
                <RecipeCard RecipeName="@re.Name" RecipeDescription="@re.Description"></RecipeCard>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <h1 role="note">Please login in to view this page</h1>
    </NotAuthorized>
</AuthorizeView>


@code {
    private List<UserMeal> _allRecipes = new List<UserMeal>();

    protected override async Task OnInitializedAsync()
    {
        //_allRecipes = await _dbService.GetAllRecipes();
    }
}
