@page "/dashboard/home";
@layout DashboardLayout;
@using TastyBits.Pages.UserDashboard.Components.RecipeCard


<AuthorizeView>
    <Authorized>
        <div class="border-emerald-700">
            <button class="mainBtn">Add new</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1 role="note">Please login in to view this page</h1>
    </NotAuthorized>
</AuthorizeView>


@code {

}
