
<div class="flex gap-10 justify-center">
    <div id="leftOutOfFocusCard" class="stacked-fractions">
        <TestimonyCard Class="bg-gradient-to-r from-emerald-300 to-amber-400" Author="1" Quote="I can get my everday meal ideas in a second."></TestimonyCard>
    </div>
    <div id="focusedCard">
        <TestimonyCard Author="2" Quote="I can get my everday meal ideas in a second."></TestimonyCard>
    </div>
    <div id="rightOutOfFocusCard">
        <TestimonyCard Author="3" Quote="I can get my everday meal ideas in a second."></TestimonyCard>
    </div>
</div>

@code {

}
