<nav class="flex items-center justify-between bg-green-400 p-4 rounded-b-lg">
    <div id="brand" class="flex gap-2">
        <div>BrandImg</div>
        <span>Tasty Bits</span>
    </div>
    <div id="links" class="flex gap-5">
        <a class="hover:text-slate-700" href="#">Home</a>
        <a class="hover:text-slate-700" href="#">About</a>
    </div>
    <div id="actions" class="flex gap-2">
        <button class="w-20 rounded-lg hover:text-slate-700">Login</button>
        <button class="h-7 w-20 rounded-lg bg-green-700 text-white hover:bg-green-600">Sign Up</button>
    </div>
</nav>

