<div class="bg-gray-700 text-gray-100 flex flex-col items-center space-y-4 p-10 gap-10
lg:flex-row lg:justify-center lg:gap-36 lg:p-5">
    <!--1-->
    <div id="footerLogo" class="grow flex flex-col items-center gap-3
lg:flex-row lg:grow-0 lg:w-1/4 ">
        <div class="flex w-36 h-36 lg:w-40 lg:h-40 items-center">
            <img src="/pics/tasty-logo.png" alt="footerLogo" />
        </div>
        <p class="text-4xl text-center lg:text-xl">
            Tasty Page is a open-source hobby project made to learn web development and have some fun.
        </p>
    </div>
    <!--2-->
    <div class="flex flex-col space-y-1.5 items-center">
        <p class="text-6xl lg:text-xl mb-3 lg:font-bold">Links</p>
        <p><a href="/" class="text-gray-100 text-4xl lg:text-xl">Home</a></p>
        <p><a href="/" class="text-gray-100 text-4xl lg:text-xl">About</a></p>
        <p><a href="/" class="text-gray-100 text-4xl lg:text-xl">Login</a></p>
    </div>
    <!--3-->
    <div id="mentions" class="flex flex-col items-center">
        <p class="text-6xl lg:text-xl mb-3 lg:font-bold">
            Mentions
        </p>
        <p><a class="text-gray-100 text-4xl lg:text-xl" href="https://www.flaticon.com/free-icons/food" target="_blank">justicon</a></p>
        <p><a class="text-gray-100 text-4xl lg:text-xl" href="https://www.flaticon.com/free-icons/mirror" target="_blank">Freepik</a></p>
        <p><a class="text-gray-100 text-4xl lg:text-xl" href="https://www.flaticon.com/free-icons/concert" target="_blank">Paul J.</a></p>
        <p><a class="text-gray-100 text-4xl lg:text-xl" href="https://www.flaticon.com/free-icons/drooling" target="_blank">Prashanth Rapolu 15</a></p>
        <p><a class="text-gray-100 text-4xl lg:text-xl" href="https://www.flaticon.com/free-icons/nutrition" target="_blank">paulalee</a></p>
        <p><a class="text-gray-100 text-4xl lg:text-xl" href="https://www.flaticon.com/free-icons/nutrition" target="_blank">Ivana</a></p>
    </div>
    <!--4-->
    <div class="flex flex-col gap-5 lg:items-center">
        <p class="text-6xl lg:text-xl lg:font-bold">Get in touch</p>
        <div class="flex gap-5 justify-center">
            <a href="https://github.com/FlipFlop17" target="_blank">
                <i class="fa-brands fa-square-github h-20 w-20 lg:h-10 lg:w-10 text-gray-50"></i>
            </a>
            <p class="flex items-center gap-3" title="petarsoce@gmail.com">
                <i class="fas fa-envelope h-20 w-20 lg:h-10 lg:w-10" title="petarsoce@gmail.com"></i>
            </p>
            <a href="https://www.linkedin.com/in/petar-so%C4%8De-8ab1a1142/" target="_blank">
                <i class="fa-brands fa-linkedin h-20 w-20 lg:h-10 lg:w-10 text-gray-50"></i>
            </a>
        </div>
    </div>
</div>
<div class="flex bg-gray-700 text-gray-100 gap-3 justify-center p-5">
    <p>Terms of service</p>-
    <p>Privacy policy</p>-
    <p>2023</p>-
    <p>Made by Petar</p>
</div>
@code {

}
