<div class="bg-amber-400 mt-48 flex h-96 gap-5 -ml-52 -mr-56">
    <div id="content" class="flex pl-32 pr-32 pt-16 gap-6">
        <div id="tryItText" class="text-5xl w-2/12 font-bold grow p-15 whitespace-normal">
            Try all the features in a demo, or SignUp if you want the full experience.<br />
            <br />
            The app is free in any case.
        </div>
        <div class="flex flex-col justify-center grow">
            <button class="bg-emerald-500 rounded text-2xl p-2 text-gray-100 font-bold drop-shadow-2xl hover:-translate-y-2 duration-1000
       shadow-red-500 h-10">
                TRY IT
            </button>
        </div>
    </div>
</div>

@code {

}
