<div class="flex grow bg-amber-400 px-32 pt-14 pb-8 gap-10 @Class">
    <!--left col-->
    <div class="flex flex-col gap-6 lg:w-1/2">
        <div id="tryItText" class="text-5xl flex-col font-bold p-15 text-emerald-900">
            Try all the features in a demo or Sign up if you want the full experience.<br />
            <br />
            The app is free in any case.
        </div>
        <!--BUTTONS-->
        <div class="flex lg:justify-end gap-3 p-5 h-28">
            <button class="border-emerald-600 border-solid border-2 rounded p-2 text-emerald-900 drop-shadow-2xl hover:-translate-y-2 duration-1000 text-4xl lg:text-xl w-4/12
            hover:bg-emerald-600 hover:text-gray-100 grow lg:grow-0">
                Try Demo
            </button>
            <button class="bg-emerald-600 rounded p-2 text-gray-100 font-bold drop-shadow-2xl hover:-translate-y-2 duration-1000 text-4xl lg:text-xl w-4/12 grow lg:grow-0">
                Sign Up
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Class { get; set; }
}
