<div class="flex justify-center @Class">
    <h1 id="colTitle" class="text-6xl text-emerald-700 font-bold text-center">Crafting Tasty and Nutritious Meals</h1>
</div>
<div class="flex flex-col lg:flex-row justify-center items-center gap-20 mt-28 ">
    <div id="leftCooking" class="">
        <img src="pics/cooking.png" alt="salad" />
    </div>
    <div id="rightCooking" class="max-w-3xl">
        <div class="flex flex-col space-y-4">
            <div id="row1">
                <h1 class="text-4xl font-bold text-emerald-900 ">What you see is what you get</h1>
                <p class="text-4xl lg:text-2xl p-2 text-justify lg:leading-relaxed">
                    Our dishes look as good as they taste, so you will be happy when you eat them.
                    With real unedited pictures you will get exactly what you see.
                </p>
            </div>
            <hr class="border-t-4 h-6" />
            <div id="row2" >
                <h1 class="text-4xl font-bold text-emerald-800">Take care of your meals</h1>
                <p class="text-4xl lg:text-2xl p-2 text-justify lg:leading-relaxed">
                    Food is important to us, so we choose recipes that are very good quality. You will love every meal you make and enjoy eating it.
                </p>
            </div>
            <hr class="border-t-4 h-6" />
            <div id="row3" >
                <h1 class="text-4xl font-bold text-emerald-700">Take care of your health</h1>
                <p class="text-4xl lg:text-2xl p-2 text-justify lg:leading-relaxed">
                    We care about our health and being active, so we suggest recipes that are good for you and taste great. 
                    You can enjoy our food and feel good about yourself.
                </p>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string? Class { get; set; }
}
