<div id="heroSection" class="flex">
    <div id="left">
        <div>
            Get your everyday
        </div>
        <div class="bg-green-400 text-gray-50">
            What to eat?
        </div>
        <div>
            answer
        </div>
    </div>
    <div id="right">
        <a href="https://www.flaticon.com/free-icons/nutrition" title="nutrition icons"></a>
    </div>
</div>
@code {

}
