<div class="flex boder border-solid border-2 h-32 
justify-center items-center">
    <div class="flex-col text-center">
       <div id="title">
           <h2>@CardTitle</h2>
       </div>
       <div id="cardBody">
            @*@CardBodyFaIconName*@
            <i class="fa fa-search"></i>
       </div>
       <div id="cardFooter">
           @CardFooterContent
       </div>
    </div>
</div>
@code {
    [Parameter]
    public string CardTitle { get; set; } = "Naslov";

    [Parameter]
    public string CardBodyFaIconName { get; set; } = "fa fa-car";
    [Parameter]
    public string CardFooterContent { get; set; } = "CardFooter";
}
