<div class="flex justify-center @Class">
    <h1 id="colTitle" class="text-6xl text-emerald-700 font-bold text-center">Crafting Tasty and Nutritious Meals</h1>
</div>
<div class="flex flex-col lg:flex-row justify-center items-center gap-20 mt-28 ">
    <div id="leftCooking" class="">
        <img src="pics/cooking.png" alt="salad" />
    </div>
    <div id="rightCooking" class="max-w-3xl">
        <div class="flex flex-col space-y-4">
            <div id="row1">
                <h1 class="text-4xl font-bold text-emerald-900 ">What you see is what you get</h1>
                <p class="text-4xl lg:text-2xl p-2 text-justify lg:leading-relaxed">
                    We believe in showcasing the genuine appeal of our dishes, captured as they truly are,
                    ensuring that your dining expectations are delightfully met when you take that first bite.</p>
            </div>
            <hr class="border-t-4 h-6" />
            <div id="row2" >
                <h1 class="text-4xl font-bold text-emerald-800">Take care of your meals</h1>
                <p class="text-4xl lg:text-2xl p-2 text-justify lg:leading-relaxed">
                    We prioritize the significance of food in our lives by curating a selection of recipes that uphold the highest standards of quality,
                    ensuring every dish you create becomes a memorable and satisfying culinary experience.</p>
            </div>
            <hr class="border-t-4 h-6" />
            <div id="row3" >
                <h1 class="text-4xl font-bold text-emerald-700">Take care of your health</h1>
                <p class="text-4xl lg:text-2xl p-2 text-justify lg:leading-relaxed">
                    Embracing the ethos of health and fitness, our recipes are thoughtfully designed to nourish both body and soul,
                    empowering you to indulge in deliciousness while staying on the path to vitality.</p>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string? Class { get; set; }
}
