

<div id="colRow" class="flex flex-col bg-gray-100 border-2 rounded-xl drop-shadow-xl w-4/12 p-10 text-center space-y-2">
    <div id="title" class="text-emerald-700 font-bold text-2xl">
        @ColumnCardTitle
    </div>
    <img src="@ColumnCardPictureSrc" alt="eggsimg" class="rounded" />
    <div id="footer" class="text-xl text-gray-600">
        @ImpactTitle
        <div class="flex justify-center">
            <ul>
                @foreach (var item in TextPointWithPicture) {
                    <li class="my-5 flex-col items-center">
                        <img src="@item.Value" width="60" height="50" alt="imgBulleted" />
                        @item.Key
                    </li>
                }
            </ul>
        </div>
    </div>
    
</div>
@code {
    [Parameter]
    public string ColumnCardTitle { get; set; } = "Column Card Title";

    [Parameter]
    public string ImpactTitle { get; set; } = "This is what you'l get";

    [Parameter]
    public string ColumnCardPictureSrc { get; set; } = "pics/eggs-breakfest.jpg";

    [Parameter]
    public Dictionary<string,string> TextPointWithPicture { get; set; } = new Dictionary<string, string> 
    { 
        {"Tasty","pics/diet.png"}
    };

    [Parameter]
    public  string? ColumnCardFooter { get; set; }

}
