@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager nav

<div class="flex bg-emerald-600 justify-between md:justify-between items-center">
	<div id="navBrand" class="flex items-center ml-3 lg:w-72">
		<div class="w-36 lg:w-24">
			<a href="/">
				<img alt="tastyLogo" class="w-full" src="pics/tasty-logo.png" />
			</a>
		</div>
		<div>
			<a class="font-bold text-6xl lg:text-2xl text-white ml-5" href="/">Tasty Bits</a>
		</div>
	</div>
	<!--burger menu-->
	<div class="lg:hidden">
		<button class="navbar-burger flex items-center text-gray-50 p-3 mr-3"
		@onclick=ToggleMenu>
			<svg class="block h-20 w-20 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<title>Mobile menu</title>
				<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
			</svg>
		</button>
	</div>
    <div class="hidden lg:flex gap-5">
		<NavLink class="text-gray-50 text-xl font-semibold hover:bg-emerald-600" href="#" Match="NavLinkMatch.All">Home</NavLink>
		<NavLink class="text-gray-50 text-xl font-semibold hover:bg-emerald-600" href="about">About</NavLink>
	</div>
	<div id="navAction" class="hidden lg:flex gap-3 mr-5 h-12 w-64">
		<button class="border-2 border-emerald-300 text-gray-50 grow  text-xl rounded-xl transition duration-1000 hover:text-emerald-800" @onclick="Login">Login</button>
		<button class="bg-emerald-400 text-gray-50 text-xl rounded-xl grow transition duration-1000 hover:bg-emerald-300">Sign up</button>
	</div>
	<!--MOBILE CLASS-->
	<div id="navMobileLinks" class="@MobileClass() flex flex-col top-1 absolute w-3/4 bg-gray-50 h-screen p-10 rounded-xl z-10">
		<div id="navBrandMobile" class="flex items-center ml-3">
			<div class="w-36">
				<a href="/">
					<img alt="tastyLogo" class="w-full" src="pics/tasty-logo.png" />
				</a>
			</div>
			<div class="grow">
				<a class="font-bold text-6xl text-emerald-900 ml-5" href="/">Tasty Bits</a>
			</div>
			<!--CLOSE BTN-->
            <div class="text-6xl font-bold text-gray-500" @onclick="ToggleMenu">
				<i class="fa fa-close h-20 w-20"></i>
			</div>
            @* <i class="fa fa-close h-20 w-20" @onclick="ToggleMenu"></i> *@
		</div>
		<div class="flex flex-col h-24 grow space-y-7 p-5 mt-10" @onclick="ToggleMenu">
			<NavLink class="text-emerald-900 text-6xl font-semibold" href="#" Match="NavLinkMatch.All">Home</NavLink>
			<NavLink class="text-emerald-900 text-6xl font-semibold" href="about">About</NavLink>
		</div>
		<div class="flex flex-col  space-y-3 font-bold mt-auto mb-8">
			<button class="border-2 border-emerald-300 text-emerald-900 h-24 text-4xl rounded-xl">Login</button>
			<button class="bg-emerald-400 text-gray-50 h-24 text-4xl rounded-xl">Sign up</button>
		</div>
	</div>
</div>

@code {
	private List<ElementReference> burgerElements = new List<ElementReference>();
	private List<ElementReference> menuElements = new List<ElementReference>();
	private List<ElementReference> backdropElements = new List<ElementReference>();
	private bool menuHidden = true;
	private bool isMobile = false;
	private void ToggleMenu()
	{
		menuHidden = !menuHidden;
	}
	private string MobileClass()
	{
		if (menuHidden) {
			return "slideOutAnimation"; //hidden slideOutAnimation

		}
		return "slideInAnimation"; // slideInAnimation
	}
	private void Login()
	{
		nav.NavigateTo("/dashboard/home");
	}
}
