<div id="testimonyCard" class="flex border-2 p-5 drop-shadow-md bg-gray-50 grow rounded-xl">
    <div class="flex flex-col grow">
        <div id="testimonyIcon" class="flex m-2">
            <i class="fa fa-quote-left text-green-900 text-2xl"></i>
        </div>
        <div id="testimonyBody" class="text-gray-500 m-2 text-2xl whitespace-normal grow">
            @Quote
        </div>
        <div id="testimonyAuthor" class="flex m-2 justify-end">
            <div class="font-bold text-green-800 text-xl">
                - @Author
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Quote { get; set; } = "Best Ever";

    [Parameter]
    public string Author { get; set; } = "Me";
}

