@page
@model TastyBits.Areas.Identity.Pages.Account.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "/Areas/Identity/Pages/_IdentityLayout.cshtml";
}

<div class="loginWindows border-2 bg-gray-50 rounded-lg">
    <div class="myGradient flex justify-center mb-5 text-gray-50 
    p-2 font-semibold">
        <p>TASTY LOGIN</p>
    </div>
    <form id="loginForm" method="post" class="p-5">
        <div class="input-form">
            <label for="userEmail">Email</label>
            <input asp-for="newUserInput.UserEmail" type="text" />
            <span asp-validation-for="newUserInput.UserEmail" class="dangerText"></span>
        </div>
        <div class="input-form">
            <label for="pwd">Password</label>
            <input  asp-for="newUserInput.UserPassword" id="pwd" type="password" />
            <span asp-validation-for="newUserInput.UserPassword" class="dangerText"></span>
        </div>
        <div class="flex" >
            <button class="primaryButton mt-5 grow" type="submit">Sign In</button>
        </div>
        @if (!ModelState.IsValid && ModelState.ContainsKey("unknown-err")) {
            <span class="dangerText mt-2">@ModelState["unknown-err"].Errors[0].ErrorMessage</span>
        }
    </form>
    <div class="text-center p-2">
        <p>Don't have an account?</p>
        <p>Register <a class="text-emerald-300 hover:text-emerald-400" href="/Identity/Account/register">here</a></p>
        <div class="customSize hover:text-emerald-800 hover:cursor-pointer">
            <a href="/">Back to Tasty Bits</a>
           </div>
    </div>
</div>