$main50: #f0fdfa;
$main100: #d1fae5;
$main200: #a7f3d0;
$main300: #6ee7b7;
$main400: #34d399;
$main500: #10b981;
$main600: #059669;
$main700: #047857;
$main800: #065f46;
$main900: #064e3b;
$main950: #022c22;

$phone: 320px;
$tablet: 768px;
$pcSmall: 1225px;
$pcWide: 1280px;


@mixin responsive($media) {
    @if $media== phone {
        @media only screen and (min-width: $phone )  {
            @content;
        }
    }
    @else if $media== tablet {
        @media only screen and (min-width: $tablet ) {
            @content;
        }
    }
    @else if $media== pcSmall {
        @media only screen and (min-width: $pcSmall ) {
            @content;
        }
    }
    @else if $media== pcWide {
        @media only screen and (min-width: $pcWide ) {
            @content;
        }
    }
}

.loginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(311deg,$main900 0%, $main400 80%);
    background: -webkit-linear-gradient(311deg,$main700 0%, $main500 80%);
    background: -moz-linear-gradient(311deg,$main700 0%, $main500 80%);
}

.form-input {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 0.3em;
        font-weight: 600;
        color: rgb(102, 102, 102);
        font-size: 1em;
    }

    input {
        border-style: solid;
        border-radius: 0.5em;
        border-color: rgb(187, 184, 184);
        height: 1.7em;
        font-size: 1em;
        color: rgb(109, 108, 108);
        padding: 5px;

        &:focus {
            outline: none;
            border-color: $main600;
            box-shadow: 0 0 10px $main700;
        }

        @include responsive(tablet) {
            height: 3rem;
        }
    }
}

.registerContainer,
.loginContainer {
    background: whitesmoke;
    padding: 2em;
    border-radius: 0.5em;
    -webkit-box-shadow: -9px 2px 42px 3px $main700;
    -moz-box-shadow: -9px 2px 42px 3px $main700;
    box-shadow: -9px 2px 42px 3px $main700;

    @include responsive(pcSmall) {
        width: 450px;
    }

    .loginHeader {
        margin-bottom: 1em;
        color: $main600;
        text-align: center;
        font-weight: bolder;
        font-size: 1.5rem;
    }

    .mainBtn {
        margin-top: 1em;
    }

    .formActions {
        display: flex;
        justify-content: end;
    }

    .form-input {
        margin-top: 0.5em;
    }

    .loginFooter {
        text-align: center;
        margin-top: 1em;
        color: rgb(116, 116, 116);

        p > a {
            text-decoration: underline;
            color: $main600
        }
    }
}


.mainBtn {
    background-color: $main600 !important;
    height: 2.5rem;
    width: 7em;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 0.8em;
    transition-duration: 500ms;
    font-size: 1rem;

    &:hover {
        background-color: $main700 !important;
        cursor: pointer;
    }
}

.dangerText {
    color: palevioletred;
}