@page "/dashboard/settings";
@layout DashboardLayout;

<AuthorizeView>
    <Authorized>
        <div class="border-emerald-700">
            My settings
        </div>
    </Authorized>
    <NotAuthorized>
        <h1 role="note">Please login in to view this page</h1>
    </NotAuthorized>
</AuthorizeView>
@code {

}
